include LICENSE
include THIRD_PARTY_LICENSES
include README.md
include CHANGELOG.md
include CMakeLists.txt
include pyproject.toml
recursive-include csrc *.cpp *.hpp *.mm *.h *.metal
recursive-include csrc/mfa *.cpp *.hpp *.h
recursive-include mlx_mfa *.py
recursive-include examples *.py
